@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes slideInFromRight {
    0% {
      transform: translateX(10%); /* Start from the right */
      opacity: 0; /* Start invisible */
    }
    100% {
      transform: translateX(0); /* End at the original position */
      opacity: 1; /* Fully visible */
    }
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-10%); /* Start from the right */
      opacity: 0; /* Start invisible */
    }
    100% {
      transform: translateX(0); /* End at the original position */
      opacity: 1; /* Fully visible */
    }
  }

  @keyframes menuInAnimation {
    0% {
      transform: translateX(-100%); /* Start from the right */
    }
    100% {
      transform: translateX(0); /* End at the original position */
    }
  }

  @keyframes menuOutAnimation {
    0% {
      transform: translateX(0%); /* Start from the right */
      opacity: 1;
    }
    100% {
      transform: translateX(-100%); /* End at the original position */
      opacity: 1;
    }
  }

  @keyframes slideInFromTop {
    0% {
        transform: translateY(-10%); /* Start from the top */
        opacity: 0; /* Start invisible */
    }
    100% {
        transform: translateY(0%); /* End at the original position */
        opacity: 1; /* Fully visible */
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(10%); /* Start from the top */
        opacity: 0; /* Start invisible */
    }
    100% {
        transform: translateY(0%); /* End at the original position */
        opacity: 1; /* Fully visible */
    }
}

@keyframes ModalSlideInFromBottom {
  0% {
      transform: translateY(100%); /* Start from the bottom */
      opacity: 0; /* Start invisible */
  }
  100% {
      transform: translateY(0%); /* End at the original position */
      opacity: 1; /* Fully visible */
  }
}


@keyframes ModalSlideOutFromTop {
  0% {
      transform: translateY(0%); /* Start from the top */
      opacity: 1; /* Start invisible */
  }
  100% {
      transform: translateY(100%); /* End at the original position */
      opacity: 1; /* Fully visible */
  }
}


@keyframes fadeIn {
    0% {
        opacity: 0; /* Start invisible */
    }
    100% {
        opacity: 1; /* Fully visible */
    }
}
  
  
  .slide-in-from-right {
    animation: slideInFromRight 0.7s ease-in-out; /* Adjust duration and timing function as needed */
  }

  .slide-in-from-left {
    animation: slideInFromLeft 0.7s ease-in-out; /* Adjust duration and timing function as needed */
  }
    
  .slide-in-from-top {
    animation: slideInFromTop 0.7s ease-in-out; /* Adjust duration and timing function as needed */
  }

  .slide-in-from-bottom {
    animation: slideInFromBottom 0.7s ease-in-out; /* Adjust duration and timing function as needed */
  }

  .modal-in {
    animation: ModalSlideInFromBottom 0.4s ease-in-out; /* Adjust duration and timing function as needed */
  }

  .modal-out {
    animation: ModalSlideOutFromTop 0.4s ease-in-out; /* Adjust duration and timing function as needed */
  }


  .fade-in {
    animation: fadeIn 0.5s ease-in; /* Adjust duration and timing function as needed */
}


.menu-in-animation {
    animation: menuInAnimation 0.3s ease-in-out;
  }
  
.menu-out-animation {
animation: menuOutAnimation 0.3s ease-in-out;
}